

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>弄堂 Brunch - 预订</title>
    <meta charset="UTF-8">
	<meta http-equiv="Cache" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" asp-href-include="css/*.min.css" />
	<link rel="stylesheet" asp-href-include="css/ntui.css" />
	<script>
		navMap ={
			0:"@Url.Action("")",
			1:"@Url.Action("rec")",
			2:"@Url.Action("goods")",
			3:"@Url.Action("order")",
			4:"@Url.Action("reserve")",
			5:"@Url.Action("discount")"
		};
	</script>
</head>
<body ontouchstart>
	<div class="nt-loading" id="ntLoad"><span>0%</span></div>
	<div class='page ui-panel-animation'>
		<header data-module="header-nav"></header>
		<div class='content'>
			<div class="weui-flex">
				<div class="weui-flex__item">
					<div class="weui-media-box" style='background:#2d2c2c;'>
						<h4 class="weui-media-box__title">弄堂推荐套餐预订</h4>
						<p class="weui-media-box__desc">预订说明：</p>
						<p class="weui-media-box__desc">单日订购每日套餐,需提前一天预订</p>
						<p class="weui-media-box__desc">7日(周)套餐,会员享9折优惠</p>
						<p class="weui-media-box__desc">月套餐,会员享8.5折优惠</p>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec01'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec02'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						7日健身套餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">凯撒沙拉(大份)</h4>
						<p class="weui-media-box__desc">培根三明治</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec03'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec04'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec05'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec01'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>

			<div class="weui-flex">
				<div class="weui-flex__item_zero">
					<div class='res-item rec04'></div>
				</div>
				<div class="weui-flex__item">
					<div class="res-title">
						<span class="res-price">￥12</span>
						每日能量早餐
					</div>
					<div class="weui-media-box_res">
						<h4 class="weui-media-box__desc">意式拿铁(大杯)</h4>
						<p class="weui-media-box__desc">培根蛋堡</p>
						<div class='res-btn'>立即预订</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="swipe swipe-right">
		<div class='res-type-title'>分类选择</div>
		<div class='res-type-btn'>轻饮食</div>
		<div class='res-type-btn'>早餐</div>
		<div class='res-type-btn'>午餐</div>
		<div class='res-type-btn'>晚餐</div>
		<div class='res-type-btn'>限量优惠</div>
		<div class='res-type-btn-vip'>VIP特供</div>
		<div class='res-type-title'>用户设置</div>
		<div class=" .weui-popup__container" style='float:left;'>
		<div class="weui-cells">
			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>我的预订</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>时间管理</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>定时提醒</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>
			</div>
		</div>
	</div>
	<div class="swipe swipe-left .weui-popup__container">
		<div class="weui-cells">
			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>会员卡</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>
			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>地址管理</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>我的收藏</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>积分兑换</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>

			<div class="weui-cell">
				<div class="weui-cell__hd"><img src=""></div>
				<div class="weui-cell__bd">
					<p>加盟合作</p>
				</div>
				<div class="weui-cell__ft"></div>
			</div>
		</div>
	</div>

<script asp-src-include="js/public/*.min.js"></script>
<script asp-src-include="js/front/nt.js"></script>
<script>
nt.page = 4;
</script>
<script asp-src-include="js/front/init.js"></script>
</body>
</html>
